@font-face {
  font-family: "iconfont"; /* Project id 3706024 */
  src: url("iconfont.woff2?t=1665992053151") format("woff2"),
    url("iconfont.woff?t=1665992053151") format("woff"),
    url("iconfont.ttf?t=1665992053151") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lahuoche:before {
  content: "\e60e";
}

.icon-gouwuche:before {
  content: "\f682";
}

.icon-shoucang:before {
  content: "\e613";
}

.icon-shoucang1:before {
  content: "\e646";
}

.icon-shoucang2:before {
  content: "\e639";
}

.icon-back:before {
  content: "\e679";
}
